"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "duotone-dark-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "eaa7ac53-fe38-bb78-a380-7493762501f8"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
