"*":
  core:
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: " Operator Mono"
    invisibles: {}
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "648dd73b-b903-8c80-91e6-bb7b58fd9e4a"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
